In [3]:
import pandas as pd 
s=pd.Series([10,30,20,40])
print(s)

0    10
1    30
2    20
3    40
dtype: int64

In [4]:
marks_data=pd.Series([19,20,50,94],index=["harry","nithin","thialk","Srujan"])
print(marks_data)

harry     19
nithin    20
thialk    50
Srujan    94
dtype: int64

In [5]:
data={
    "name":["Srujan","nithin","Thilak"],
    "age":[10,30,50],
    "marks":[90,60,36]
}
df=pd.DataFrame(data)
df.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
df

     name  age  marks
0  Srujan   10     90
1  nithin   30     60
2  Thilak   50     36